*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.name{
    text-align: center;

}
.resume{
    text-align: center;
}
.resumo, ul{
    list-style-type: none;
}