body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 800px;
    align-items: center;
}

nav, a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #1e1e1e;
    text-decoration: none;
    padding: 8px;
}

nav, a:hover{
    color: #a78414;
}

#home{
    margin: 10px;
}

.nav-iframe{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#home, div, h1{
    color: #1e1e1e;
}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: justify;
}

th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#center {
    text-align: center;
}

#apresentacao {
    text-align: center;
}
#sobre{
    text-align: center;
}

#formacao, li{
    margin: 20px;
}

.links-social, a{
    display: flex;
    justify-content: center;
}
iframe{
    justify-content: flex-end;
    border-style: solid;
    border-color: none;
    height: 400px;
    width: 90%;
}